/* General Styles */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    background: #ffffff;
    margin: 0;
}

.container {
    width: 100%;
    margin: 20px auto;
    background: linear-gradient(-45deg, #a1d8e5, #b9dcea, #5bdbff);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Section Styling */
.section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.section h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #0c1e23;
    border-bottom: 2px solid #5bdbff;
    padding-bottom: 5px;
}
nav {
    background-color: #ffffff;
    padding: 10px;
    align-items: center;

}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    align-items: center;
}
nav a:hover{
    background-color: #a4d8e6;
}

.section ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.section img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px; /* Space between logo and text */
    vertical-align: middle;
    
}

button {
    display: inline-block;
    background: linear-gradient(-45deg, #a1d8e5, #b9dcea, #5bdbff);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #183943;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-weight: bold;
    color: #333;
}

form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border 0.2s ease;
}



.feedback,
.error {
    display: none;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

.feedback {
    background: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.error {
    background: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 15px;
    }

    button {
        width: 100%;
    }
}
