.container {
    width: 60%;
    margin: auto;
    padding-top: 30px;
}

.flight-details {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: #ffffff;
    width: 97.5%;
    margin-bottom: 10px;
}
.flight-details h3 {
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.flight-details p {
    margin: 10px 0;

}

body {
    font-family: Arial, sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #d0eff5, #dfeff5, #d0eef7);    
}
.container h2{
    font-size: 40px;
    font-family: Cambria, Cochin, 'Georgia', Times, Times New Roman, serif;
    color: #020337;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 30px;
}


.back-link {
    margin-top: 20px;
    display: inline-block;
    color: #031829;
    font-style:oblique;
    text-decoration: underline;
}

.book-section {
    background-color: #ffffff; 
    border-spacing: 0 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 12px; 
    width: 98.5%;
    border-radius: 5px;

}

.book-section h3 {
    margin-top: 0px;
    color: #020337; 
    text-align: left;
    margin-bottom: 20px; 
}

.book-section form {
    display: flex;
    flex-direction: column; 
}
.book-section label{
    font-weight: bold;
    color: #333;
}
.book-section select {
    margin-top: 7px;
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    width: 100%; 
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
    transition: border 0.2s ease; 
}



.book-section input[type="submit"] {
    background-color: #020337; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px; 
    font-size: 1em; 
    cursor: pointer; 
    margin-top: 20px; 
}

.book-section input[type="submit"]:hover {
    background-color: #0a375b; /* Darker blue on hover */
}
